/LongRunningTasks.Solution/.vs/LongRunningTasks.Solution/DesignTimeBuild/.dtbcache.v2
/LongRunningTasks.Solution/.vs/LongRunningTasks.Solution/FileContentIndex/bc8a4ef4-f43f-4404-9ff4-3c1ab8e6cb54.vsidx
/LongRunningTasks.Solution/.vs/LongRunningTasks.Solution/v17/.futdcache.v2
/LongRunningTasks.Solution/.vs/LongRunningTasks.Solution/v17/.suo
/LongRunningTasks.Solution/.vs/ProjectEvaluation/longrunningtasks.solution.metadata.v7.bin
/LongRunningTasks.Solution/.vs/ProjectEvaluation/longrunningtasks.solution.projects.v7.bin
/LongRunningTasks.Solution/LongRunningTasks.Core/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/LongRunningTasks.Solution/LongRunningTasks.Core/obj/Debug/net8.0/LongRunningTasks.Core.AssemblyInfo.cs
/LongRunningTasks.Solution/LongRunningTasks.Core/obj/Debug/net8.0/LongRunningTasks.Core.AssemblyInfoInputs.cache
/LongRunningTasks.Solution/LongRunningTasks.Core/obj/Debug/net8.0/LongRunningTasks.Core.assets.cache
/LongRunningTasks.Solution/LongRunningTasks.Core/obj/Debug/net8.0/LongRunningTasks.Core.GeneratedMSBuildEditorConfig.editorconfig
/LongRunningTasks.Solution/LongRunningTasks.Core/obj/Debug/net8.0/LongRunningTasks.Core.GlobalUsings.g.cs
/LongRunningTasks.Solution/LongRunningTasks.Core/obj/LongRunningTasks.Core.csproj.nuget.dgspec.json
/LongRunningTasks.Solution/LongRunningTasks.Core/obj/LongRunningTasks.Core.csproj.nuget.g.props
/LongRunningTasks.Solution/LongRunningTasks.Core/obj/LongRunningTasks.Core.csproj.nuget.g.targets
/LongRunningTasks.Solution/LongRunningTasks.Core/obj/project.assets.json
/LongRunningTasks.Solution/LongRunningTasks.Core/obj/project.nuget.cache
